<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "lets learn adonisjs 6 "}}</title>
  @vite('resources/js/app.js')
  @if($slots.meta)
    {{{ await $slots.meta() }}}
  @end
</head>
<body>
  <div class="max-w-3xl mx-auto mt-6">
    @include('partials/navbar')

    {{{ await $slots.main() }}}
  </div>
</body>
