<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  @vite('resources/js/app.js')
</head>
<body>
  <div class="max-w-3xl mx-auto mt-6">
    <nav>
      <a href="{{ route('home') }}">home</a>
      <a href="{{ route('movies.show', { slug:'my-awsome-movies'}) }}">My Awsome Movie</a>
      <a href="{{ route('movies.show', { slug:'another-my-awsome-movies'}) }}">Another My Awsome Movie</a>
    </nav>
    {{{ movie }}}
    {{-- {{ inspect(movie)}} --}}
  </div>
</body>
</html>
